/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-size: 15px;
  font-family: 'Lato', helvetica, arial, sans-serif;
  font-weight: 400;
  color: #555;
  background: #F5F5F5;
  background-image: linear-gradient(rgba(245, 245, 245, 0.8) 20%, rgba(30, 177, 230, 0.5) 250%), url(../images/background-shapes.svg);
  background-repeat: repeat-x;
  background-position: bottom; }

.navbar-default {
  background: #FDFDFD; }
  .navbar-default .navbar-brand {
    padding: 5px 15px;
    line-height: 40px; }
    .navbar-default .navbar-brand .nav-logo {
      height: 40px;
      float: left;
      padding-right: 10px; }
  .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    background-color: #F5F5F5; }

section {
  margin-bottom: 30px; }

svg {
  font-family: 'Lato', helvetica, arial, sans-serif !important; }

.color-1 {
  color: #1EB1E6; }

.color-2 {
  color: #888998; }

.color-3 {
  color: #3E4259; }

#dashboard {
  max-width: 1200px;
  padding-top: 81px;
  padding-bottom: 150px; }
  #dashboard .dashboard-container, #dashboard .data-container, #dashboard .chart-container {
    margin-bottom: 30px;
    background: #FDFDFD;
    display: inline-block;
    width: 100%;
    border: 1px solid #E7E7E7;
    border-radius: 3px;
    height: 300px; }
  #dashboard .data-container {
    padding-top: 30px;
    padding-bottom: 30px; }
    #dashboard .data-container .row {
      margin-top: 15px;
      margin-bottom: 15px;
      display: inline-block;
      width: 100%; }
    #dashboard .data-container .data {
      float: left;
      margin-top: 10px;
      font-size: 150%; }
      #dashboard .data-container .data .change {
        display: inline-block;
        margin-left: 10px;
        font-size: 80%; }
    #dashboard .data-container .fa.large {
      font-size: 50px;
      text-align: center;
      width: 100%; }
  #dashboard .chart-container {
    padding-top: 30px;
    padding-bottom: 10px; }

/*# sourceMappingURL=main.css.map */
