/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-size: 15px;
  font-family: 'Lato', helvetica, arial, sans-serif;
  font-weight: 400;
  color: #555;
  background: #F5F5F5;
  background-image: linear-gradient(rgba(245, 245, 245, 0.8) 20%, rgba(76, 193, 235, 0.5) 200%), url(../images/background-shapes.svg);
  background-repeat: repeat-x;
  background-position: bottom;
  min-width: 320px; }

.navbar-default {
  background: #FDFDFD; }
  .navbar-default .navbar-brand {
    padding: 5px 15px;
    line-height: 40px; }
    .navbar-default .navbar-brand .nav-logo {
      height: 40px;
      float: left;
      padding-right: 10px; }
  .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    background-color: #F5F5F5; }

section {
  margin-bottom: 30px; }

svg {
  font-family: 'Lato', helvetica, arial, sans-serif !important; }

.color-1 {
  color: #1eb1e6; }

.color-2 {
  color: #6E6F7F; }

.color-3 {
  color: #3e4259; }

@media (max-width: 768px) {
  .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    padding-right: 5px;
    padding-left: 5px; } }

.btn {
  background: #fff;
  border-color: #E7E7E7; }

.btn[disabled], fieldset[disabled] .btn {
  cursor: pointer;
  filter: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  opacity: 1; }

.btn-color-1:hover, .btn-color-1:focus {
  background: #d6f1fa; }
.btn-color-1.active {
  background: #4CC1EB;
  color: #fff; }

.btn-color-2:hover, .btn-color-2:focus {
  background: #dadadf; }
.btn-color-2.active {
  background: #6E6F7F;
  color: #fff; }

.btn-color-3:hover, .btn-color-3:focus {
  background: #d1d3df; }
.btn-color-3.active {
  background: #535877;
  color: #fff; }

#dashboard {
  max-width: 1200px;
  padding-top: 81px;
  padding-bottom: 120px; }
  #dashboard .data-container, #dashboard .chart-container {
    margin-bottom: 30px;
    background: #FDFDFD;
    display: inline-block;
    width: 100%;
    border: 1px solid #E7E7E7;
    border-radius: 3px;
    min-height: 330px; }
  #dashboard .data-container {
    padding-top: 30px;
    padding-bottom: 30px; }
    #dashboard .data-container .row {
      margin-top: 30px; }
    #dashboard .data-container .header {
      font-size: 150%;
      text-align: center; }
    #dashboard .data-container .data {
      float: left;
      margin: 10px 15px 0 0;
      font-size: 150%;
      color: #333; }
    #dashboard .data-container .change {
      float: left;
      margin-top: 15px; }
    #dashboard .data-container .verses {
      margin-left: 5px; }
    #dashboard .data-container .limits {
      float: left;
      margin-top: 15px; }
    #dashboard .data-container .fa.large {
      font-size: 50px;
      text-align: center;
      width: 100%; }
  #dashboard .chart-container {
    padding-top: 20px; }
    #dashboard .chart-container .toggle-btn {
      float: right;
      margin: 0 10px 10px 0; }

/*# sourceMappingURL=main.css.map */
