<!DOCTYPE html>
<html lang="en" ng-app="printrApp">

<head>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
	<link rel="shortcut icon" href="images/element.png"/>

    <title>printr dashboard</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
	
	<!-- Custom CSS -->
    <link rel="stylesheet" href="css/main.css"/>

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>


</head>

<body>

	
	<!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      	<div class="container">
        	<div class="navbar-header">
          		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            		<span class="sr-only">Toggle navigation</span>
            		<span class="icon-bar"></span>
            		<span class="icon-bar"></span>
            		<span class="icon-bar"></span>
          		</button>
          		<a class="navbar-brand" href="#">FORMIDE <img class="nav-logo" src="images/element.png"/></a>
        	</div>
        	<div id="navbar" class="navbar-collapse collapse">
          		<ul class="nav navbar-nav">
            		<li class="active"><a href="#dashboard">dashboard</a></li>
          		</ul>
        	</div>
      	</div>
    </nav>



    <div id="dashboard" class="container-fluid" ng-style="style()" resize>

        <section id="totals" ng-controller="totalsCtrl">

            <div class="row">

                <div class="col-sm-6">

                    <div class="container-fluid data-container">

                        <div class="header">Week End Totals - {{totals.label}}</div>

                        <div class="row">
                            <div class="col-xs-4 col-md-5"><i class="fa fa-users large color-1"></i></div>
                            <div class="col-xs-8 col-md-7">
                                <div class="title">Users Total</div>
                                <div class="data">{{totals.users}}</div>
                                <div class="change">
                                    <i class="fa fa-caret-up"></i> {{totals.usersDiff | number:1}}% 
                                    <span class="verses">vs {{previousTotals.label}}</span>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-xs-4 col-md-5"><i class="fa fa-cubes large color-2"></i></div>
                            <div class="col-xs-8 col-md-7">
                                <div class="title">Models Sliced Total</div>
                                <div class="data">{{totals.modelsSliced}}</div>
                                <div class="change">
                                    <i class="fa fa-caret-up"></i> {{totals.modelsSlicedDiff | number:1}}% 
                                    <span class="verses">vs {{previousTotals.label}}</span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-4 col-md-5"><i class="fa fa-clock-o large color-3"></i></div>
                            <div class="col-xs-8 col-md-7">
                                <div class="title">Print Hours Total</div>
                                <div class="data">{{totals.printHours}}</div>
                                <div class="change">
                                    <i class="fa fa-caret-up"></i> {{totals.printHoursDiff | number:1}}% 
                                    <span class="verses">vs {{previousTotals.label}}</span>
                                </div>
                            </div>
                        </div>  

                    </div>
                    
                </div>


                <div class="col-sm-6">

                    <highchart class="chart-container" config="totalUsersConfig"></highchart>
                    
                </div>


                <div class="col-sm-6">

                    <highchart class="chart-container" config="totalSlicedModelsConfig"></highchart>
                    
                </div>


                <div class="col-sm-6">

                    <highchart class="chart-container" config="totalPrintHoursConfig"></highchart>
                    
                </div>

            </div>

        </section>



        <section id="liveData" ng-controller="livedataCtrl">

            <div class="row">

                <div class="col-sm-6">

                    <div class="container-fluid data-container">

                        <div class="header">Today's Live Totals</div>

                        <div class="row">
                            <div class="col-xs-4 col-md-5"><i class="fa fa-desktop large color-1"></i></div>
                            <div class="col-xs-8 col-md-7">
                                <div class="title">Devices Connected</div>
                                <div class="data">{{ currentTotals.devices.seconds[currentTotals.devices.seconds.length-1] }}</div>
                                <div class="limits">highest: {{currentTotals.devices.max}} lowest: {{currentTotals.devices.min}}</div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-xs-4 col-md-5"><i class="fa fa-user large color-2"></i></div>
                            <div class="col-xs-8 col-md-7">
                                <div class="title">Users Connected </div>
                                <div class="data">{{ currentTotals.users.seconds[currentTotals.users.seconds.length-1] }}</div>
                                <div class="limits">highest: {{currentTotals.users.max}} lowest: {{currentTotals.users.min}}</div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-4 col-md-5"><i class="fa fa-briefcase large color-3"></i></div>
                            <div class="col-xs-8 col-md-7">
                                <div class="title">Current Jobs </div>
                                <div class="data">{{ currentTotals.jobs.seconds[currentTotals.jobs.seconds.length-1] }}</div>
                                <div class="limits">highest: {{currentTotals.jobs.max}} lowest: {{currentTotals.jobs.min}}</div>
                            </div>
                        </div>  

                    </div>
                    
                </div>


                <div class="col-sm-6">

                    <div class="chart-container">

                        <div class="btn-group toggle-btn">
                            <button ng-click="toggleChart()" ng-class="{'active': chartFlag==1}" ng-disabled="chartFlag==1" type="button" class="btn btn-color-1">Previous Minute</button>
                            <button ng-click="toggleChart()" ng-class="{'active': chartFlag==2}" ng-disabled="chartFlag==2" type="button" class="btn btn-color-1">Previous Hour</button>
                        </div>

                        <highchart config="devicesConnectedConfig"></highchart>

                    </div>
                    
                </div>


                <div class="col-sm-6">

                    <div class="chart-container">

                        <div class="btn-group toggle-btn">
                            <button ng-click="toggleChart()" ng-class="{'active': chartFlag==1}" ng-disabled="chartFlag==1" type="button" class="btn btn-color-2">Previous Minute</button>
                            <button ng-click="toggleChart()" ng-class="{'active': chartFlag==2}" ng-disabled="chartFlag==2" type="button" class="btn btn-color-2">Previous Hour</button>
                        </div>

                        <highchart config="usersConnectedConfig"></highchart>

                    </div>
                    
                </div>


                <div class="col-sm-6">

                    <div class="chart-container">

                        <div class="btn-group toggle-btn">
                            <button ng-click="toggleChart()" ng-class="{'active': chartFlag==1}" ng-disabled="chartFlag==1" type="button" class="btn btn-color-3">Previous Minute</button>
                            <button ng-click="toggleChart()" ng-class="{'active': chartFlag==2}" ng-disabled="chartFlag==2" type="button" class="btn btn-color-3">Previous Hour</button>
                        </div>

                        <highchart config="currentJobsConfig"></highchart>

                    </div>
                    
                </div>


            </div>


        </section>





    </div>




	
	
	<!-- angularjs -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular.min.js"></script>
    <script src="http://code.highcharts.com/highcharts.src.js"></script>
    <script src="http://pablojim.github.io/highcharts-ng/javascripts/highcharts-ng.js"></script>
    
	<script src="js/app.js"></script>
	<script src="js/controllers.js"></script>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>



</body>

</html>

