
body{
	font-size: 15px;
	font-family: 'Lato', helvetica, arial, sans-serif;
	font-weight: 400;
	color: $font_color;

	background: $background_color;
	background-image: linear-gradient(transparentize($background_color,0.2) 20%, 
					  transparentize($color_1,0.5) 200%), 
					  url(../images/background-shapes.svg);

    background-repeat: repeat-x;
    background-position: bottom;

    min-width: 320px;
}



.navbar-default{
	background: $container-color;
	
	.navbar-brand {
    	padding: 5px 15px;
    	line-height: 40px;

    	.nav-logo{
    		height: 40px;
    		float: left;
    		padding-right: 10px;
    	}
    }

    .navbar-nav>.active>a, .navbar-nav>.active>a:focus, .navbar-nav>.active>a:hover {
	    background-color: $background_color;
	}

}


section{
	margin-bottom: 30px;
}

svg{
	font-family: 'Lato', helvetica, arial, sans-serif !important;
}

.color-1{
	color: $color_1_dark;
}

.color-2{
	color: $color_2;
}

.color-3{
	color: $color_3_dark;
}


.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {

	@media (max-width: $screen-sm-min) {
		padding-right: 5px;
    	padding-left: 5px;
	}
    
}

.btn{
	background: #fff;
	border-color: $border-color;
}

.btn[disabled], fieldset[disabled] .btn {
    cursor: pointer;
    filter: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: 1;
}

.btn-color-1{
	&:hover, &:focus{
		background: $color_1_light;
	}

	&.active{
		background: $color_1;
		color: #fff;
	}
}

.btn-color-2{
	&:hover, &:focus{
		background: $color_2_light;
	}

	&.active{
		background: $color_2;
		color: #fff;
	}
}

.btn-color-3{
	&:hover, &:focus{
		background: $color_3_light;
	}

	&.active{
		background: $color_3;
		color: #fff;
	}
}