
$screen-sm-min: 768px;
$screen-lg-min: 1200px;

$background_color: #F5F5F5;

$container-color: #FDFDFD;

$border-color: #E7E7E7;

$font_color: #555;

$color_1: #4CC1EB;
$color_1_light: lighten($color_1, 30%);
$color_1_dark: darken($color_1, 10%);

$color_2: #6E6F7F;
$color_2_light: lighten($color_2, 40%);
$color_2_dark: darken($color_2, 10%);

$color_3: #535877;
$color_3_light: lighten($color_3, 45%);
$color_3_dark: darken($color_3, 10%);
