
$screen-sm-min: 768px;
$screen-lg-min: 1200px;

$background_color: rgb(245, 245, 245);

$container-color: #FDFDFD;

$border-color: #E7E7E7;

$font_color: #555;

$color_1: rgb(70, 177, 230);
$color_1_light: lighten($color_1, 10%);
$color_1_dark: darken($color_1, 10%);

